html
    head
        title=title
        | <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        | <script src="https://d3js.org/d3.v3.min.js"></script>
        link(rel='stylesheet', href='/css/graph.css')
body
    include ./navigator
    script(src="/js/graph.js")
