<div class="container">
    <h1 style="text-align: center; font-family: 'Courier 10 Pitch'">Sentylic Social Media Analytics Platform</h1>
    <br>
    <img  width="100%" height="100%"
          src="https://journalistforbundet.dk/sites/default/files/social-media.png" alt="">
</div>