<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<style>
    .pre-scrollable {
        max-height: 600px;
        overflow-y: scroll;
    }
</style>

<div class="container">
    <h3 style="font-family: 'Courier 10 Pitch'">Analysis of reviews on places</h3>
    <div class="row">
        <div class="form-group col-md-6">
            <select class="form-control" id="place_select">
                {{# each review_files }}
                    <option value="{{this}}" selected>{{this}}</option>
                {{/each}}
            </select>
            <br>
            <div class="form-actions">
                <button class="btn btn-primary" type="button" id="btn_analyze_reviews">Analyze Reviews</button>
            </div>
            <div id="aspects">

            </div>
        </div>
        <div class="col-md-6 pre-scrollable border border-primary">
            <div id="reviews">
            </div>
        </div>
    </div>
</div>

<!--aspect modal-->
<div class="modal" tabindex="-1" role="dialog" id="aspect_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="review_text">Modal body text goes here.</p>
                <table class="table">
                    <tbody id="review_aspects"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary custom-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#btn_analyze_reviews').click(function () {
        var place = $("#place_select").val();
        var data = {
            place: place
        };

        $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/places/reviews',
            success: function (response) {
                var reviews_html = '', aspects_html = '<h3>Mostly Discussed Aspects</h3><table class="table">';
                console.log('success');

//              truncate rerviews
                const LENGTH_OF_REVIEW = 100;
                var reviews = response.reviews.filter(function (d) {
                    if (d.text.length > LENGTH_OF_REVIEW) {
                        return d.text_truncated = d.text.toString().slice(0, LENGTH_OF_REVIEW) + "...";
                    } else {
                        d.text_truncated = d.text;
                    }

                });

                reviews.forEach(function (review) {
                    console.log(review.text);
                    reviews_html += '<div style="margin: 10px; background-color: gainsboro; padding: 5px; border-radius: 5px"' +
                            'data-text="' + review.text + '">'
                            + review.text_truncated +
                            '<br>' +
                            '<button class="btn btn-warning btn-analyze" type="button">Analyze</button>' +
                            '</div>'
                });
                $("#reviews").html(reviews_html);

                response.aspects.forEach(function (aspect) {
                    console.log(aspect.aspect);
                    aspects_html += '<tr>' +
                            '<td style="margin: 10px">' + aspect.aspect + '</td>' +
                            '<td style="margin: 10px">' + aspect.percentage + ' %</td>' +
                            '</tr>'
                });
                aspects_html += '</table>';
                $("#aspects").html(aspects_html);
            }
        });
    });


    //  show individual review analysis
    $(document).on('click', '.btn-analyze', function () { // because button is dynamically added
        $('#review_text').text($(this).parent().attr('data-text'));
//       find aspects
        var data = {
            review: $(this).parent().attr('data-text'),
        }
        $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/aspects/findReviewAspects',
            success: function (aspects) {
                var aspects_html = '';
                aspects.forEach(function (a) {
                    aspects_html += '<tr>' +
                            '<td>' + a.aspect + '</td>' +
                            '<td><i class="em-svg em-neutral_face emoji-style"></i></td>' +
                            '</tr>';
                });
                $('#review_aspects').html(aspects_html);

                $('#aspect_modal').show();
            }
        });
    });

    $(function () {
        $(".close, .custom-close").on('click', function () {
            $('#aspect_modal').hide();
        });
    });
</script>