<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<style>
    ::-webkit-input-placeholder {
        font-size: 20px;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-size: 20px;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 20px;
    }

    .label-xsmall {
        vertical-align: super;
        font-size: x-small;
    }

    .label-small {
        vertical-align: super;
        font-size: small;
    }

    .label-medium {
        vertical-align: super;
        font-size: medium;
    }

    .label-large {
        vertical-align: super;
        font-size: large;
    }

    .label-bs {
        vertical-align: super;
    }

    .emoji-style {
        height: 6.5em;
        width: 6.5em;
    }
</style>

<div class="container">
    <h3 style="font-family: 'Courier 10 Pitch'">Discussion on {{title}}</h3>
    <button class="btn btn-primary" onclick="window.location.href='/tweets/{{index}}'">Back</button>
    <div>

    </div>
</div>