circle {
    stroke-width: 1.5px;
}

line {
    stroke: #999;
    stroke-width: 1.5px;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 10px;
    font: 25px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

